body {
  margin-top: 60px;
}

.colorblock {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  display: inline-block;
}

input.error {
  border-color: #B94A48 !important;
}

input.success {
  border-color: #468847 !important;
}

span.error {
  color: #B94A48 !important;
}

span.success {
  color: #468847 !important;
}

td.center, th.center {
  text-align: center;
}

table {
  width: 100%;
}

.push-bottom {
  margin-bottom: 12px;
}

.push-right {
  margin-right: 12px;
}